@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne:wght@400..800&display=swap');


.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.builder{
    width: 70%;
    height: 100%;
    border: 2px solid white;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.main-h{
    text-align: center;
    font-family: "spectral", sans-serif;
    color: #2D3E5B;
}

.perosonal-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h3{
    font-family: "lato", sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #DB9291;
    margin: 2px;
    letter-spacing: 6px;
    margin-top: 14px;
}


label{
    font-family: "lato", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 2px 0px;
}


input{
    height: 30px;
    border: none;
    background-color: #ddd;
    border-radius: 5px;
    margin: 2px 0px;
    padding: 8px 15px;
}

.pic{
    border: none;
    background-color: transparent;
    padding: 0px;
}


&:focus{
    border: 2px solid #213250;
}


.intro, .experience, .skills, .education{
    display: flex;
    flex-direction: column;
}



textarea{
    height: 30px;
    border: none;
    background-color: #ddd;
    border-radius: 5px;
    margin: 2px 0px;
    padding: 8px 15px;
}

.gen-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 12px;
    width: 200px;
    border: none;
    background-color: #2D3E5B;
    color: white;
    font-family: "spectral", sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}



@media screen and (max-width:768px) {

    .builder{
        width: 90%;
    }
    .btn{
        padding: 8px;
        width: 150px;
        font-size: 14px;
    }
}

@media screen and (max-width:425px) {
    .builder{
        width: 80%;
    }

    .main-h{
        font-size: 22px;
    }

    h3{
        font-size: 14px;
    }


}